:root{
  --cor-primaria: #6429FF;
  --cor-segundaria:  #33336D;

}

*{
  padding: 0;
  margin: 0;
}

.cabecalho{
  background: var(--cor-segundaria);
}

.cabecalho .user-logado p{
  margin: 0;
  padding: 0;
}

footer{
  position: fixed;
  bottom: 0;
  background:var(--cor-segundaria);
  font-size: 20px;
  color: white;
}

.btn-primary{
  background: var(--cor-primaria);
}